body {
  background:#909497;
  color:black;
}

div { 
  background:#CCC;
  margin:8px;
  padding:5px;
  width:100%;   }
img {
  width:100px;
  height:auto;
  display:block;
  border-radius:50%;
  box-shadow:5px 5px #424242;
//  padding:10px;  //colchon para el borde
//  border:5px solid #424242;  //sustituye la sombra
}
.menu {
  width:100%;
  background:#424242;
  list-style:none;
  margin:0px;
  padding:0px;  }
.menu li {
  display:inline-block;  }
.menu li a {
  display:inline-block;
  color:#FFF;
  padding: 10px 20px;  }
.menu li a:hover {
  background:#CCC;
  color:#000;  }  
//Corregir segun lo que se muestra en la imagen de la tabla con sus estilos//

table {
  border:1px solid #0E6655;  //Observe y modifique sus propios colores!
  border-col apse:collapse;
  width:75 px;  }
table td {
  border:1px solid #1D8348;
  pad ing:10px;  }
table td: over {
  background:#17A589;
  color:#FFF;  }
table tr:ho er {
  background:#01DFD7;  }		

//quite comentarios del /*   y   */ 